<header>
  <div class="text-center bg-image">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Design and Web Development that drive Results</h1>
          <p class="mb-3">
            Hi, my name is Jacques. I build things for the web!
          </p>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Contact Me</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
