<div class="home-container text-center">
  <div class="header-text bg-dark py-4 col-12">What do I do</div>
  <div
    class="d-flex justify-content-center align-items-center bg-dark mb-3"
    style="height: 250px; color: #fff"
  >
    <div class="col-12 col-sm-3 p-3">
      <h3>Web Development</h3>
      <p class="d-none d-sm-block">
        Creating websites or web applications, encompassing front-end and
        back-end development, as well as deployment and maintenance for a
        seamless online experience.
      </p>
    </div>
    <div class="col-12 col-sm-3 p-3">
      <h3>Software Development</h3>
      <p class="d-none d-sm-block">
        Creating websites or web applications, encompassing front-end and
        back-end development, as well as deployment and maintenance for a
        seamless online experience.
      </p>
    </div>
    <div class="col-12 col-sm-3 p-3">
      <h3>Web Development</h3>
      <p class="d-none d-sm-block">
        Creating websites or web applications, encompassing front-end and
        back-end development, as well as deployment and maintenance for a
        seamless online experience.
      </p>
    </div>
  </div>
</div>
